@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  
  --color-vitality-graphite: #34495E;
  --color-vitality-lime: #A2D149;
  --color-vitality-bg: #F8F9FA;
  --color-vitality-risk: #D35400;
  --color-vitality-danger: #E11D48;
}

@layer base {
  body {
    background-color: var(--color-vitality-bg);
    color: #0f172a; /* slate-900 */
    @apply font-sans antialiased;
  }

  /* Reset de Inputs Numéricos */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
  }
  
  input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
  }
}

@layer components {
  .card-vitality {
    @apply bg-white rounded-3xl p-6 shadow-sm border border-slate-100;
  }

  .btn-primary {
    @apply bg-slate-900 text-white hover:bg-slate-800 active:scale-95 transition-all font-bold px-6 py-3 rounded-xl;
  }
}